.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}
.myPadding{
    background-color: #FFFFFF;
}
.group{
    margin-top: 20px;
    padding-left: 20px;
}
.group .navPage{
    background-color: #fff;
    width: 320px;
    float: left;
}
.groupTitle{
    font-size: 18px;
    padding: 12px 0 13px 20px;
    background-color: #E0ECDB;
}
.nav>li>a{
    font-size: 16px;
    padding: 14px 45px 13px 45px;
    color: #555;
    border-bottom: 1px solid #F0F0F0;
    margin-top: -6px;
    display: inline-block;
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.nav>li:first-child{
    margin-bottom: 6px;
}
.groupNav{
    border: 1px solid #CCCCCC;
    min-height: 500px;
}
.nav>li>a:hover, .nav>li>a:focus{
    background-color: #7EB23A;
    color: #FFFFFF;
}
.groupControl,.groupDevControl{
    text-align: left;
    padding: 10px 0;
}

.gro{
    display: inline-block;
    padding: 5px 10px;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin-left: 6px;
    border: 1px solid #7EB23A;
}
.addGro,.update{
    margin: 0;
}
.gro i{
    padding-right: 5px;
}
.gro:hover{
    background-color: #7EB23A;
    color: #FFFFFF;
}
.groupContent{
    margin-left: 319px;
    margin-right: 20px;
    height: 600px;
}
.groupContent ul{
    padding: 0;
    margin: 0;
    border: 1px solid #CCCCCC;
    min-height: 500px;
}
.groupContent ul li{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 50px;
}
.groupContent ul li p{
    float: left;
    height: 50px;
    line-height: 50px;
    color: #333;
    width: 50%;
    text-align: center;
    padding: 0;
    margin: 0;
}
.groupContent ul li p:first-child{
    border-right: 1px solid #CCCCCC;
}

.devHeader{
    background-color: #E0ECDB;
    color: #111;
    font-size: 18px;
}

.nav-pills>li>a{
    border-radius: 0;
}
.even{
    background-color: #ffffff;
}
.odd{
    background-color: #f9f9f9;
}
.hover{
    background-color: #f1f1f1;
}
.active{
    background-color: #7EB23A;
    color: #FFFFFF !important;
}
#dpCondition{
    padding-right: 30px;
}
.layui-layer-page .layui-layer-content{
    padding-top: 30px !important;
}
a.groupItem:visited{
    color: #FFFFFF !important;
}